
html {
	overflow-y: scroll;
	background-color: rgba(127, 127, 255, 0.05);
}
body {
	margin: 0;
}
main {
	width: 19cm;
	margin: auto;
}
details {
	background-color: white;
	margin: 1em 0;
}
details details {
	background-color: transparent;
}
details details > summary {
	text-align: center;
}
input, textarea {
	margin: auto;
	border-width: 1px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.05);
	font-family: monospace;
	line-height: 2em;
	display: block;
	width: 100%;
}
textarea {
	line-height: 1.5em;
	height: 5em;
}
input[type="number"] {
	text-align: right;
}
input[type="submit"] {
	margin: 1em auto;
	width: auto;
}
.inline > input {
	display: inline-block;
	text-align: center;
	width: 1.5em;
}
.input {
	border-width: 0;
}
td {
	padding: 0;
}
th {
}
table {
	width: 100%;
	box-sizing: border-box;
	border-spacing: 0.5em;
	margin: 1em 0;
}
*[data-width="10"] {
	width: 5em;
}
*[data-width="90"] {
	width: 45em;
}
*[data-width="80"] {
	width: 40em;
}
tr > * {
	border: 1px ridge rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}
caption {
}
.number {
	font-family: monospace;
	text-align: center;
}
.datetime {
	font-family: monospace;
}
dl {
}
dl > dt {
	margin-top: 0.5em;
}
dl > dd {
	padding: 0 2em 0 2em;
	margin: 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
ul > li {
	padding: 0 2em 0 2em;
}
ol {
	list-style-type: none;
	padding: 0;
}
ol > li {
	padding: 0 2em 0 2em;
}
ol > li > h4 {
	border-bottom: 1px ridge rgba(0, 0, 0, 0.2);
}
h3 {
}
h4, h5 {
	margin-top: 1em;
	margin-bottom: 0;
}
article {
	margin: 2em auto;
}
p {
	white-space: pre-wrap;
	margin: 0;
}
@media print {
	h1, details > summary {
		display: none;
	}
	ol > li {
		page-break-inside: avoid;
	}
	html {
		background: none;
	}
}
.graph {
	/*
	margin: 1em;
	background-color: #eee;
	border: 2px ridge #629923;
	border-radius: 0.25em;
	overflow: auto;
	display: block;
	vertical-align: top;
	max-width: 100%;
	box-sizing: border-box;
	*/
	position: relative;
}
.graph > div {
	position: absolute;
	top: 1em;
	left: 4em;
	background: rgba(255, 255, 0, 0.1);
	border: 1px rgba(0, 0, 0, 0.4) ridge;
	padding: 0.5em;
}
.graph h3 {
	margin: 0;
}
svg {
	display: block;
	background: white;
}
details svg {
	max-height: 300px;
}
svg .axes path {
	stroke: #196F69;
	stroke-width: 2px;
}
svg .online path {
	fill: #629923;
	stroke: #A69F25;
	stroke-width:1px;
}
svg text {
	font-family: myTime, monospace;
	font-size: 10px;
}
svg .online text {
	text-anchor: end;
}
svg .axes rect {
	fill: #4B807C;
}
svg rect[data-correct="0"], svg rect[*|correct="0"] {
	fill: #FFB073;
}
svg rect[data-correct="1"], svg rect[*|correct="1"] {
	fill: #629923;
}